<nav id="site-navigation" class="main-navigation" role="navigation">
  <div class="menu-navigation-container">
    <ul id="menu-navigation" class="nav-menu">
    {% for p in site.data.navigation %}
      <li id="menu-item-{{ p.id }}" class="menu-item menu-item-object-page menu-item-home page_item{% if p.permalink == page.permalink %} current-menu-item current_page_item{% endif %}">
        <a href="{{ p.permalink }}" >{{ p.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</nav><!-- .main-navigation -->
