/**
 * 12.0 Content
 */

.secondary {
  background-color: #fff;
  display: none;
  padding: 0 7.6923%;
}

.secondary.toggled-on {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: block;
}

.widget-area {
  margin: 9.09090% auto 0;
}

.site-footer {
  background-color: #fff;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 3.84615% 7.6923%;
}


/**
 * 12.1 Posts and pages
 */

.hentry {
  background-color: #fff;
  padding-top: 7.6923%;
  position: relative;
}

.hentry.has-post-thumbnail {
  padding-top: 0;
}

.hentry.sticky:not(.has-post-thumbnail) {
  padding-top: -webkit-calc(7.6923% + 24px);
  padding-top: calc(7.6923% + 24px);
}

.hentry + .hentry {
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.post-thumbnail {
  border: 0;
  display: block;
  margin-bottom: 2.4em;
}
.post-thumbnail img {
  display: block;
  margin: 0 auto;
}

a.post-thumbnail:hover,
a.post-thumbnail:focus {
  opacity: 0.85;
}

.entry-header {
  padding: 0 7.6923%;
}

.entry-title {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.1538;
  margin-bottom: 0.9231em;
}

.entry-content,
.entry-summary {
  padding: 0 7.6923% 7.6923%;
}

.entry-content > :last-child,
.entry-summary > :last-child {
  margin-bottom: 0;
}

.entry-content,
.entry-summary,
.page-content,
.comment-content {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.entry-content h1,
.entry-summary h1,
.page-content h1,
.comment-content h1 {
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 1.1538;
  margin-top: 1.8462em;
  margin-bottom: 0.9231em;
}

.entry-content h2,
.entry-summary h2,
.page-content h2,
.comment-content h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.3636;
  margin-top: 2.1818em;
  margin-bottom: 1.0909em;
}

.entry-content h3,
.entry-summary h3,
.page-content h3,
.comment-content h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
  margin-top: 2.6667em;
  margin-bottom: 1.3333em;
}

.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.page-content h4,
.page-content h5,
.page-content h6,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 3.2em;
  margin-bottom: 1.6em;
}

.entry-content h5,
.entry-content h6,
.entry-summary h5,
.entry-summary h6,
.page-content h5,
.page-content h6,
.comment-content h5,
.comment-content h6 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.entry-content > h1:first-child,
.entry-content > h2:first-child,
.entry-content > h3:first-child,
.entry-content > h4:first-child,
.entry-content > h5:first-child,
.entry-content > h6:first-child,
.entry-summary > h1:first-child,
.entry-summary > h2:first-child,
.entry-summary > h3:first-child,
.entry-summary > h4:first-child,
.entry-summary > h5:first-child,
.entry-summary > h6:first-child,
.page-content > h1:first-child,
.page-content > h2:first-child,
.page-content > h3:first-child,
.page-content > h4:first-child,
.page-content > h5:first-child,
.page-content > h6:first-child,
.comment-content > h1:first-child,
.comment-content > h2:first-child,
.comment-content > h3:first-child,
.comment-content > h4:first-child,
.comment-content > h5:first-child,
.comment-content > h6:first-child {
  margin-top: 0;
}

.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a {
  border-bottom: 1px solid #333;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-summary a:hover,
.entry-summary a:focus,
.page-content a:hover,
.page-content a:focus,
.comment-content a:hover,
.comment-content a:focus,
.pingback .comment-body > a:hover,
.pingback .comment-body > a:focus {
  border-bottom: 0;
}

.entry-content a img,
.entry-summary a img,
.page-content a img,
.comment-content a img {
  display: block;
}

.entry-content .more-link,
.entry-summary .more-link:after {
  white-space: nowrap;
}

.entry-content .more-link:after,
.entry-summary .more-link:after {
  content: "\f429";
  font-size: 16px;
  position: relative;
  top: 5px;
}

.author-info {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  margin: 0 7.6923%;
  padding: 7.6923% 0;
}

.author-info .avatar {
  float: left;
  height: 36px;
  margin: 0 1.6em 1.6em 0;
  width: 36px;
}

.author-heading {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  letter-spacing: 0.04em;
  margin-bottom: 1.5em;
  text-transform: uppercase;
}

.author-title {
  clear: none;
}

.author-bio {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  overflow: hidden;
  padding-bottom: 1px;
}

.author-description {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.author-description a {
  border-bottom: 1px solid #333;
}

.author-description a:hover,
.author-description a:focus {
  border-bottom: 0;
}

.author-description > :last-child {
  margin-bottom: 0;
}

.author-link {
  white-space: nowrap;
}

.author-link:after {
  content: "\f429";
  position: relative;
  top: 1px;
}

.entry-footer {
  background-color: #f7f7f7;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 3.8461% 7.6923%;
}

.entry-footer a {
  border-bottom: 1px solid transparent;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

.entry-footer a:hover {
  border-bottom: 1px solid #333;
}

.entry-footer a:hover,
.entry-footer a:focus {
  color: #333;
}

.sticky-post {
  background-color: #333;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  padding: 0.25em 0.5em;
  position: absolute;
  top: 0;
  text-transform: uppercase;
}

.updated:not(.published) {
  display: none;
}

.sticky .posted-on {
  display: none;
}

.posted-on:before,
.byline:before,
.cat-links:before,
.tags-links:before,
.comments-link:before,
.entry-format:before,
.edit-link:before,
.full-size-link:before {
  margin-right: 2px;
  position: relative;
}

.posted-on,
.byline,
.cat-links,
.tags-links,
.comments-link,
.entry-format,
.full-size-link {
  margin-right: 1em;
}

.format-aside .entry-format:before {
  content: "\f101";
}

.format-image .entry-format:before {
  content: "\f473";
}

.format-gallery .entry-format:before {
  content: "\f103";
}

.format-video .entry-format:before {
  content: "\f104";
}

.format-status .entry-format:before {
  content: "\f105";
}

.format-quote .entry-format:before {
  content: "\f106";
}

.format-link .entry-format:before {
  content: "\f107";
}

.format-chat .entry-format:before {
  content: "\f108";
}

.format-audio .entry-format:before {
  content: "\f109";
}

.posted-on:before {
  content: "\f307";
}

.byline:before {
  content: "\f304";
}

.cat-links:before {
  content: "\f301";
}

.tags-links:before {
  content: "\f302";
}

.comments-link:before {
  content: "\f300";
}

.full-size-link:before {
  content: "\f402";
}

.edit-link:before {
  content: "\f411";
}

.comments-link,
.edit-link {
  white-space: nowrap;
}

.page-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 7.6923%;
}

.page-title {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
}

.taxonomy-description {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  padding-top: 0.4em;
}

.taxonomy-description a {
  border-bottom: 1px solid #333;
}

.taxonomy-description a:hover,
.taxonomy-description a:focus {
  border-bottom: 0;
}

.taxonomy-description > :last-child {
  margin-bottom: 0;
}

.page-content {
  background-color: #fff;
  padding: 7.6923%;
}

.page-content > :last-child {
  margin-bottom: 0;
}

.page-links {
  clear: both;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 1.3333em;
}

.page-links a,
.page-links > span {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  display: inline-block;
  font-size: 12px;
  font-size: 1.2rem;
  height: 2em;
  line-height: 2;
  margin: 0 0.3333em 0.3333em 0;
  text-align: center;
  width: 2em;
}

.page-links a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.3);
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.page-links a:hover,
.page-links a:focus {
  background-color: #707070;
  background-color: rgba(51, 51, 51, 0.7);
  border-color: transparent;
  color: #fff;
}

.page-links > .page-links-title {
  border: 0;
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  height: auto;
  margin: 0;
  padding-right: 0.5em;
  width: auto;
}

.entry-attachment {
  margin-bottom: 1.6em;
}

.type-attachment .entry-title {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

.entry-caption {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.5;
  padding-top: 0.5em;
  word-wrap: break-word;
}

.entry-caption > :last-child {
  margin-bottom: 0;
}


/**
 * 12.2 Post Formats
 */

.format-aside .entry-title,
.format-image .entry-title,
.format-video .entry-title,
.format-quote .entry-title,
.format-gallery .entry-title,
.format-status .entry-title,
.format-link .entry-title,
.format-audio .entry-title,
.format-chat .entry-title {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
  margin-bottom: 1.3333em;
}

.format-link .entry-title a:after {
  content: "\f442";
  font-size: 24px;
  height: 24px;
  position: relative;
  top: 0;
  width: 24px;
}

.blog .format-status .entry-title,
.archive .format-status .entry-title {
  display: none;
}


/**
 * 12.3 Comments
 */

.comments-area {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 7.6923%;
}

.comments-area > :last-child {
  margin-bottom: 0;
}

.comment-list + .comment-respond {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  padding-top: 1.6em;
}

.comments-title,
.comment-reply-title {
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.3333;
}

.comments-title {
  margin-bottom: 1.3333em;
}

.comment-list {
  list-style: none;
  margin: 0;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 1.6em 0;
}

.comment-list .children {
  list-style: none;
  margin: 0;
}

.comment-list .children > li {
  padding-left: 0.8em;
}

.comment-author {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  margin-bottom: 0.4em;
}

.comment-author a:hover {
  border-bottom: 1px solid #707070;
  border-bottom: 1px solid rgba(51, 51, 51, 0.7);
}

.comment-author .avatar {
  float: left;
  height: 24px;
  margin-right: 0.8em;
  width: 24px;
}

.bypostauthor > article .fn:after {
  content: "\f304";
  position: relative;
  top: 5px;
  left: 3px;
}

.comment-metadata,
.pingback .edit-link {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.comment-metadata a,
.pingback .edit-link a {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
}

.comment-metadata a:hover,
.pingback .edit-link a:hover {
  border-bottom: 1px solid #333;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .edit-link a:hover,
.pingback .edit-link a:focus {
  color: #333;
}

.comment-metadata {
  margin-bottom: 1.6em;
}

.comment-metadata .edit-link {
  margin-left: 1em;
}

.pingback .edit-link {
  margin-left: 1em;
}

.pingback .edit-link:before {
  top: 5px;
}

.comment-content ul,
.comment-content ol {
  margin: 0 0 1.6em 1.3333em;
}

.comment-content li > ul,
.comment-content li > ol {
  margin-bottom: 0;
}

.comment-content > :last-child {
  margin-bottom: 0;
}

.comment-list .reply {
  font-size: 12px;
  font-size: 1.2rem;
}

.comment-list .reply a {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-top: 2em;
  padding: 0.4167em 0.8333em;
  text-transform: uppercase;
}

.comment-list .reply a:hover,
.comment-list .reply a:focus {
  border-color: #333;
  color: #333;
  outline: 0;
}

.comment-form {
  padding-top: 1.6em;
}

.comment-form label {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"] {
  width: 100%;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2em;
}

.logged-in-as a:hover {
  border-bottom: 1px solid #333;
}

.no-comments {
  border-top: 1px solid #eaeaea;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  color: #707070;
  color: rgba(51, 51, 51, 0.7);
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  padding-top: 1.6em;
}

.comment-navigation + .no-comments {
  border-top: 0;
}

.form-allowed-tags code {
  font-family: Inconsolata, monospace;
}

.form-submit {
  margin-bottom: 0;
}

.required {
  color: #c0392b;
}

.comment-reply-title small {
  font-size: 100%;
}

.comment-reply-title small a {
  border: 0;
  float: right;
  height: 32px;
  overflow: hidden;
  width: 26px;
}

.comment-reply-title small a:before {
  content: "\f405";
  font-size: 32px;
  position: relative;
  top: -3px;
}

.comment-form #wp-comment-cookies-consent {
  margin: 0 10px 0 0;
}

.comment-form .comment-form-cookies-consent label {
  display: inline;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: none;
}
