/**
 * 14.0 Media
 */

audio,
canvas {
  display: inline-block;
}

embed,
iframe,
object,
video {
  margin-bottom: 1.6em;
  max-width: 100%;
  vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
  margin-bottom: 0;
}
