.site-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  padding: 7.6923%;
}

.site-branding {
  min-height: 2em;
  padding-right: 60px;
  position: relative;
}

.site-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3636;
  margin-bottom: 0;
}

.custom-logo {
  max-height: 84px;
  width: auto;
}

.wp-custom-logo .site-title {
  margin-top: 0.545454545em;
}

.site-description {
  display: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5em 0 0;
  opacity: 0.7;
}
